<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Paws and Whiskers</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../public/css/style.css"> 
</head>

<body>
    <div class="flex-auto justify">
        <header class="">
            <h1 class="text-3xl font-bold underline"></h1>Paws & Whiskers</h1>
        </header>
    </div>
    {{body}}
    <footer>Paws & Whiskers</footer>
</body>

</html>